* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #eff3ff;
  /* line-height: 1.6; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  /* font-size: 5.4rem; */
  font-size: clamp(3rem, 5vw, 5.4rem);
  font-weight: bold;
  color: #000 !important;
  text-align: center;
}

p,
span {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  max-width: 120rem;
  padding: 1.6rem;
  margin: 0 auto;
}

header {
  margin: 3.2rem 0;
}


.pokemon-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

input[type="text"] {
  /* appearance: none; */
  border: none;
  outline: none;
  max-width: 32rem;
  width: 100%;
  border-bottom: 2px solid #020d35;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  color: #000000;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.pokemon-card {
  width: 36rem;
  min-height: 42rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: .8rem;
  padding: 1.6rem;
  position: relative;
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transform: rotate(180deg);
  /* background-color: #ebfbf1; */
  background-color: #beffd7;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

figure {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.pokemon-image {
  width: 60%;
  height: 15rem;
  object-fit: contain;
  filter: drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25));
}


.pokemon-name {
  font-size: 3.2rem;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  margin-top: 2.4rem;
}

.pokemon-highlight {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.6rem 0;

  & p {
    padding: 0.6rem 2.4rem;
    background-color: #2ecc71;
    border-radius: 20rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}


.pokemon-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  justify-items: center;
  align-items: center;
  margin: 3.2rem 0 1.6rem;

  & span {
    font-size: 1.5rem;
  }

  & p {
    display: inline;
    font-size: 1.6rem;
  }

}

.card-demo {
  display: flex;
  justify-content: center;

  & .pokemon-card {
    min-height: 32rem;
  }
}

.pokemon-card:hover::before {
  background-color: #ff81ab;
  border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  transition: all 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.03);
  transition: all 0.3s;
  background-color: #7dffaf;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  & .pokemon-highlight {
    & p {
      background-color: #e91e63;
    }
  }

}


.short-container {
  width: 65rem;

  & h1 {
    margin-bottom: 3.2rem;
  }

  & p {
    margin-bottom: 1.6rem;
  }

  & button {
    padding: 0.6rem 0;
    cursor: pointer;
  }
}

.skeleton {
  width: 100%;
  height: 15rem;
  background: #e0e0e0;
  border-radius: 1rem;
  animation: pulse 1.4s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 105rem;
  }

  .cards {
    gap: 2.4rem;
  }

  .pokemon-card {
    width: 34rem;
    min-height: 42rem;
  }

  .pokemon-card::before {
    height: 40%;
  }

  .pokemon-image {
    height: 14rem;
  }

  span {
    font-size: 1.4rem;
  }

}

@media (max-width: 1150px) {

  .pokemon-image {
    height: 15rem;
  }

  .pokemon-name {
    font-size: 2rem;
  }

  .pokemon-image {
    height: 12.5rem;
  }

  span {
    font-size: 1.4rem;
  }

}

@media (max-width: 1100px) {

  .container {
    max-width: 95rem;
  }

  .pokemon-image {
    height: 11.5rem;
  }

  .cards {
    gap: 1.2rem;
  }

  .pokemon-card {
    width: 32rem;
    min-height: 36rem;
    padding-bottom: 0;
  }

}

@media (max-width: 1000px) {

  .pokemon-image {
    height: 11rem;
  }

  .pokemon-card {
    width: 28rem;
    min-height: 38rem;
  }

  .pokemon-name {
    font-size: 2.4rem;
    padding-top: 1.4rem;
  }

}

@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .pokemon-card {
    width: 34rem;
    min-height: 40rem;
    padding: 1rem;
  }

  .pokemon-card::before {
    height: 44%;
  }

  .pokemon-image {
    height: 14rem;
  }

  p {
    padding-left: .5rem;
  }

}

@media (max-width: 800px) {
  .container {
    max-width: 700px;
  }

  .cards {
    gap: 3rem;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 600px;
  }

  .cards {
    gap: 2rem;
  }

  .pokemon-card {
    width: 32rem;
    min-height: 38rem;
  }

  .pokemon-card::before {
    height: 40%;
  }

  .pokemon-image {
    height: 13rem;
  }

}

@media (max-width: 700px) {
  .container {
    max-width: 50rem;
  }

  .pokemon-card {
    width: 29rem;
    min-height: 34rem;
  }

  .pokemon-image {
    height: 11.5rem;
  }

  .pokemon-info {
  & span {
    font-size: 1.4rem;
  }

  & p {
    font-size: 1.4rem;
  }

}

  p {
    font-size: 1.4rem;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 30rem;
  }

  .cards {
    width: 26rem;
    gap: 1rem;
  }

  .pokemon-info {
    gap: .6rem;
  }

  :is(p, span) {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.4rem;
  }

}


@media (max-width: 600px) {
  .container {
    max-width: 30rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .pokemon-card {
    width: 38rem;
    min-height: 36rem;
    padding: 3.2rem 3.2rem 1.6rem;
  }

  .pokemon-card::before {
    height: 44%;
  }

  .pokemon-image {
    height: 12.5rem;
  }

  :is(p, span) {
    font-size: 1.6rem;
  }

}

@media (max-width: 400px) {

  .container {
    max-width: 28rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  input[type="text"] {
    max-width: 23rem;
    font-size: 2rem;
    padding: .2rem;
  }

  .pokemon-card {
    width: 26rem;
  }


  .pokemon-info {
    grid-template-columns: 1fr;
    gap: .6rem;
    margin: .6rem;
    justify-items: start;
    padding-left: 1.4rem;
  }

  .pokemon-name {
    margin-top: 1rem;
  }

  .pokemon-card::before {
    height: 35%;
  }

  .pokemon-image {
    height: 10rem;
  }

  p {
    display: inline;
    padding-left: .6rem;
    font-size: 2rem;
  }

  span {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .container {
    max-width: 26rem;
  }

  .pokemon-card {
    width: 23rem;
    padding: 1.6rem;
  }

  .pokemon-info {
    padding-left: 0;
  }

  .pokemon-name {
    margin-top: 1rem;
  }

  p {
    display: inline;
    padding-left: .6rem;
    font-size: 2rem;
  }

  span {
    font-size: 2rem;
  }

  .pokemon-name {
    font-size: 1.5rem;
  }

}

@media (max-width: 310px) {
  .container {
    max-width: max;
  }

  .cards {
    width: 22rem;
  }

  .pokemon-card {
    width: 22rem;
    padding: 1.2rem;
  }

  .pokemon-highlight {
    & p {
      font-size: 1.5rem;
    }
  }

  .pokemon-card::before {
    height: 34%;
  }

  .pokemon-info {
    padding-left: 0;
  }

  .pokemon-name {
    margin-top: 1rem;
  }

  p {
    display: inline;
    padding-left: .6rem;
    font-size: 2rem;
  }

  span {
    font-size: 2rem;
  }
}

@media (max-width: 260px) {
  
  .cards {
    width: 18rem;
  }

  .pokemon-card {
    width: 18rem;
    padding: 1.2rem;
  }

}

@media (max-width: 220px) {
  
  .cards {
    width: 15rem;
  }

  .pokemon-card {
    width: 15rem;
    padding: .6rem;
  }

  .pokemon-info {
  & span {
    font-size: 1.2rem;
  }

  & p {
    font-size: 1.2rem;
  }

}

}


@media (hover: hover) {
  .pokemon-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: rgba(17, 12, 46, 0.2) 0px 40px 80px;
    background-color: #7dffaf;
  }

  .pokemon-card:hover::before {
    background-color: #ff81ab;
    border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  }
}